@use "../utilities/flow" as *;

.task-container {
  @include flex(0.75rem, row, space-between, center);
  padding: 1rem 1rem;
  font-size: var(--fs-100);
  width: 100%;
  border-bottom: 1px solid var(--clr-light-gray-300);
  background-color: var(--clr-light-gray-100);

  > div {
    @include flex(1rem, row, center, center);
  }

  img:last-child {
    width: 0.8rem;
    cursor: pointer;
  }
}

[data-status="COMPLETED"] {
  p {
    color: var(--clr-light-gray-300);
    text-decoration: line-through;
  }
}

[data-theme="dark"] {
  .task-container {
    background-color: var(--clr-dark-gray-500);
    color: var(--clr-dark-gray-100);
    border-bottom: 1px solid var(--clr-dark-gray-400);
  }
}
