@use "../utilities/_flow.scss" as *;

header {
  @include flex(1rem, row, space-between, center);
  width: min(100%, 30rem);
  margin: 0 auto;
  h1 {
    color: var(--clr-light-gray-100);
    font-weight: 700;
    letter-spacing: 8px;
  }

  img {
    width: 1.5rem;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7483%)
      hue-rotate(8deg) brightness(103%) contrast(97%);
  }

  #header-meta {
    @include flex(1rem, row, center, center);
  }
}
