@mixin flex($gap: 1rem, $direction: row, $justify: normal, $align: normal) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  @content;
}

@mixin grid($gap: 1rem) {
  display: grid;
  gap: $gap;
  @content;
}

.d-block {
  display: block;
}
