$colors: (
  primary: (
    blue: hsl(220, 98%, 61%),
    gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
  ),
  secondary: (),
  light: (
    gray-100: hsl(0, 0%, 98%),
    gray-200: hsl(236, 33%, 92%),
    gray-300: hsl(233, 11%, 84%),
    gray-400: hsl(236, 9%, 61%),
    gray-500: hsl(235, 19%, 35%),
  ),
  dark: (
    gray-100: hsl(236, 33%, 92%),
    gray-200: hsl(234, 39%, 85%),
    gray-300: hsl(234, 11%, 52%),
    gray-400: hsl(233, 14%, 35%),
    gray-500: hsl(235, 24%, 19%),
    gray-600: hsl(235, 21%, 11%),
  ),
);
