$base: 1.125rem;

$type-scale: (
  small: (
    100: $base * 0.7,
    200: $base * 0.8,
    300: $base * 0.9,
    400: $base,
    500: $base * 1.125,
    600: $base * 1.25,
    700: $base * 1.5,
    800: $base * 1.75,
    900: $base * 2,
  ),
  large: (
    100: $base * 0.7,
    200: $base * 0.8,
    300: $base * 0.9,
    400: $base,
    500: $base * 1.125,
    600: $base * 1.25,
    700: $base * 1.5,
    800: $base * 1.75,
    900: $base * 2,
  ),
);
